body {
    margin: 0;
}

.rounded-box {
  border-radius: 5px;
  border: 1px dotted;
  height: 75px;
  width: 32.5%;
  float: left;
}

@media(max-width: 600px) {
  .rounded-box {
      width: 100%;
  }
}

.red {
  background-color:  red;
}
.yellow {
  background-color:  yellow;
}
.blue {
  background-color:  blue;
}


.box {
  width: 100px;
  height: 100px;
}

@media(max-width: 600px) {
  .box {
    background-color: red;
  }
}

@media(min-width: 600px) {
  .box {
    background-color: green;
  }
}
