i.icon-large {
  font-size: 125px;
}

.box-1 {
  height: 100px;
}

.box {
  height: 50px;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.blue {
  background-color: blue;
}
