body {
  margin: 0;
}

.long {
  width: 100%;
  height: 100px;
  background-color: grey;
  border-radius: 10px;
  clear: left;
}

.orange {
  width: 67%;
  height: 300px;
  background-color: orange;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  float: left;
}

.grey {
  float: left;
  width: 33%;
  height: 300px;
  background-color: grey;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}
