.box {
  width: 200px;
  height: 200px;
  display: inline-block;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.special {
  text-decoration: underline;
  font-weight: bold;
}
