<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My First Sinatra Application</title>
  </head>
  <body>
    <a href="/">Home</a>
    |
    <a href="/hello">Hello</a>
    |
    <a href="/faker">BS</a>
    <hr>
    <%= yield %>
  </body>
</htm
